@use '../utils/utils.scss';

*{
    list-style-type: none; 
    box-sizing: border-box;
    text-decoration: none;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    @include utils.margin_padding_0;

    background:linear-gradient(to top, #515bd4, utils.$primary-color);
    @include utils.background-center;
}

main{
    padding-top: 60px;
    margin: 10px 10px;
    margin-top: 0;
}

p{
    text-align: justify;
    @include utils.margin_padding_0;

    font-size: 15px;
}

footer {
    @include utils.flex-center;
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px;
    background-color: #252635;
    color: utils.$primary-color;
}

@media (min-width: 768px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px 60px;
        text-align: left;
    }
}